# SAP Fiori Elements using SAP Fiori Tools Training

This is a repository to host training contents for the SAP Fiori Elements using SAP Fiori Tools Training.

## GitHub Repositories

| No. | Author | Committer Name / Email | Latest Commit / Date | Commits |
| ---:| ------ | ---------------------- | -------------------- |:-------:|
{{#commits}}
| {{number}}. | [{{user.author.login}}]({{user.author.html_url}}) | {{user.commit.author.name}} / {{user.commit.author.email}} | [{{user.commit.message}}]({{user.html_url}}) / {{user.commit.author.date}} | [{{commits}}]({{commits_url}}) |
{{/commits}}

## Prerequisites

### Accounts

1. Create [SAP Community Account](https://community.sap.com/)
2. Create [GitHub Account](https://github.com/join)

### Installation

1. Install [Visual Studio Code](https://code.visualstudio.com/download) IDE
2. Install [Node.js](https://nodejs.org/en/download/) (preferably the LTS version)
3. Install [SAP Fiori Tools](https://marketplace.visualstudio.com/items?itemName=SAPSE.sap-ux-fiori-tools-extension-pack) VS Code extension
4. Install [Git](https://git-scm.com/downloads)
5. Install [Fork](https://git-fork.com/) (Git Client)

## Agenda

1. [Visual Studio Code and Git](#visual-studio-code-and-git)
2. OData service document
3. SAP Fiori Tools
4. SAP Fiori Element – List Report
5. SAP Fiori Element – Object Page
6. SAP Fiori Element – Extension API

## Hands On Exercises

1. Tutorial - [Create OData Service Document](https://developers.sap.com/tutorials/hcp-webide-create-odata-model.html)
2. Exercise - [Create OData Service Document](https://vestapartners.sharepoint.com/:w:/s/DDCKL/EVNDaN_EKgpCiU6HcMJdBPoB5YPAIsrqBSPepsfQ9uiabQ?e=qnF9QF)
3. Tutorial - Create SAP Fiori Elements App
4. Exercise - Create SAP Fiori Elements App

## Visual Studio Code and Git

### Tools

1. Learn how to use Git CLI
2. Learn how to use VS Code Git Client
3. Learn how to use Fork Git Client

### Git Process

1. Learn about Git Clone and the difference between Local and Central repository
2. Learn about Git Commit / Push / Pull
3. Learn about Git Fetch
4. Learn about local repository house keeping
5. Learn about pull requests
6. Learn about Cherry Pick
7. Learn about resolving conflicts
8. Learn about Stash
9. Learn about setting up Git Config

## Video Recordings

| No. | Topic | Length | Date |
| ---:| ----- | ------ | ---- |
| 1. | [Visual Studio Code and Git - Part 1](https://web.microsoftstream.com/video/a9ca83d0-cc23-4792-93b1-df2676fae0ca) | 3 hr 59 min | Thu Nov 5 2020 |
| 2. | [Visual Studio Code and Git - Part 2](https://web.microsoftstream.com/video/3a183c92-8b2e-4741-92bd-7a03db60e4fd) | 40 min | Thu Nov 5 2020 |
| 3. | [Visual Studio Code and Git - Recap](https://web.microsoftstream.com/video/591f36b2-6fed-4f09-9741-a8964c76c43d)  | 1 hr 35 min | Fri Nov 6 2020 |
| 4. | [Create OData Service Document - Tutorial Discussion](https://web.microsoftstream.com/video/ece7ca34-8b6f-42cf-a3c8-7942bc0ed16c) | 34 min | Fri Nov 6 2020 |